<md-progress-linear md-mode="indeterminate" ng-if="!$ctrl.wallet">
</md-progress-linear>

<div layout="row">
  <md-whiteframe flex="100" flex-gt-md="50" flex-gt-lg="33"
                 class="md-whiteframe-5dp wallet" ng-if="$ctrl.wallet">
    <md-toolbar class="md-toolbar-tools" layout="row">
      <h3 flex>
        <a href="#/profile" ng-if="$ctrl.show_back_button">
          <md-icon md-font-icon="material-icons">keyboard_arrow_left</md-icon>
          {{ $ctrl.wallet.description }}
        </a>
        <span ng-if="!$ctrl.show_back_button">
          {{ $ctrl.wallet.description }}
        </span>
        <small>({{ $ctrl.wallet.balance | currency : '&euro;' }})</small>
      </h3>

      <div>
        <md-button aria-label="Refresh Wallet" class="md-icon-button"
                   ng-click="$ctrl.refresh()">
          <md-icon md-font-icon="material-icons">refresh</md-icon>
        </md-button>

        <md-button aria-label="Toggle Settings" class="md-icon-button"
                   ng-click="$ctrl.toggleSettings()">
          <md-icon md-font-icon="material-icons">menu</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-progress-linear md-mode="indeterminate" ng-if="$ctrl.loading">
    </md-progress-linear>

    <md-content>
      <md-tabs class="settings" md-border-bottom md-dynamic-height
               md-selected="$ctrl.settings_tab" ng-if="$ctrl.settings_visible">
        <md-tab label="Identifiers"
                md-on-selected="$ctrl.show_add_identifier = false">
          <md-content ng-if="!$ctrl.show_add_identifier">
            <md-list>
              <md-list-item>
                Manage identifiers attached to this wallet by editing their
                descriptions or removing them entirely.
              </md-list-item>

              <md-list-item>
                The main account identifier cannot be removed, only its
                description can be updated. This ID can be used, for instance,
                during account verification for transactions.
              </md-list-item>

              <md-list-item class="main_account_id">
                Your main account ID is: {{:: $ctrl.wallet.owner.uuid }}.
              </md-list-item>

              <editable-list-item ng-repeat="credential in $ctrl.wallet.credentials"
                                  on-remove="$ctrl.removeCredential(credential)"
                                  on-save="$ctrl.saveCredentialDescription(credential, value)"
                                  removable="!$ctrl.isMainAccountCredential(credential)"
                                  placeholder="credential.uuid" value="credential.description">
              </editable-list-item>
            </md-list>

            <div layout="column" layout-align="start center">
              <md-button class="md-primary md-raised toggle_add_identifier"
                         ng-click="$ctrl.toggleAddIdentifier()">
                Add Identifier
              </md-button>
            </div>
          </md-content>

          <md-content class="layout-padding" ng-if="$ctrl.show_add_identifier">
            <div ng-if="!$ctrl.nfc_is_available">
              <div ng-if="!$ctrl.identifier_link_code.id">
                <p>
                  This device does not appear to be NFC capable. To attach an NFC
                  identifier to this wallet, a password-protected, time-sensitive
                  code needs to be generated which can be send to an NFC capable
                  device. A description is optional and can always be modified at
                  a later time.
                </p>

                <p>
                  <em>Important:</em> prefer short expiration times over longer
                  ones. While the generated code has not expired, anybody who
                  obtains the code and its associated password will be able to
                  add identifiers to this wallet!
                </p>

                <form layout="column" layout-align="start center" layout-fill
                      name="linkCodeGenerationForm"
                      ng-submit="$ctrl.requestIdentifierLinkCode($ctrl.identifier_link_code)">

                  <div layout="row" layout-align="center start" layout-xs="column"
                       layout-align-xs="start center">
                    <md-input-container>
                      <label>Expiration</label>
                      <md-select ng-disabled="$ctrl.identifier_link_code.retrieving"
                                 ng-model="$ctrl.identifier_link_code.expiration_s">
                        <md-option ng-repeat="expiration_s in $ctrl.expirations"
                                   ng-value="expiration_s">
                          {{ expiration_s / 60 }} minutes
                        </md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container>
                      <md-icon md-font-icon="material-icons">lock</md-icon>
                      <input ng-disabled="$ctrl.identifier_link_code.retrieving"
                             ng-model="$ctrl.identifier_link_code.password"
                             placeholder="Password" type="password" required>
                    </md-input-container>

                    <md-input-container>
                      <md-icon md-font-icon="material-icons">description</md-icon>
                      <input ng-disabled="$ctrl.identifier_link_code.retrieving"
                             ng-model="$ctrl.identifier_link_code.description"
                             type="text" placeholder="Description">
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-sm="row"
                       layout-align="space-around center">
                    <md-button class="md-primary md-raised" type="submit"
                               ng-disabled="linkCodeGenerationForm.$invalid ||
                                            $ctrl.identifier_link_code.retrieving">
                      Get identifier link code
                    </md-button>

                    <md-button class="md-raised" flex-order-gt-sm="-1"
                               ng-click="$ctrl.toggleAddIdentifier()"
                               ng-disabled="$ctrl.identifier_link_code.retrieving">
                      Back to Identifiers
                    </md-button>
                  </div>
                </form>
              </div>

              <div layout="column" layout-align="start center" ng-if="$ctrl.identifier_link_code.id">
                <p>
                  Send the code below to on an NFC capable device with the
                  Outlayman Wallet app (e.g. by sending it through a text message
                  using the button below) and go through the linking procedure to
                  attach an NFC identifier to this wallet.
                </p>

                <div layout-xs="column" layout="row" layout-align="center center">
                  <md-input-container class="identifier-link-copier">
                    <input type="text" md-select-on-focus
                           placeholder="Identifier Link Code"
                           value="{{:: $ctrl.identifier_link_code.id }}">
                  </md-input-container>

                  <md-button class="md-primary md-raised" ng-click="$ctrl.shareLinkCode()"
                             ng-if="$ctrl.canShareLinkCode()">
                    <md-icon md-font-icon="material-icons">message</md-icon>
                    Share Link Code URL
                  </md-button>
                </div>

                <div ng-if="$ctrl.identifier_link_code.url_qr">
                  <p>
                    Alternatively have someone with an NFC capable device with
                    the Outlayman Wallet app installed, scan the QR code below.
                  </p>

                  <div layout="row" layout-align="center start">
                    <svg flex-xs="50" flex-sm="50" flex-gt-sm="33"
                         ng-attr-view_box="{{:: $ctrl.identifier_link_code.url_qr.viewBox }}">
                      <path ng-attr-d="{{:: $ctrl.identifier_link_code.url_qr.path }}">
                      </path>
                    </svg>
                  </div>
                </div>

                <md-button class="md-warn" ng-click="$ctrl.clearIdentifierLinkCodeData()">
                  Clear Identifier Link Code
                </md-button>
              </div>
            </div>

            <div ng-if="$ctrl.nfc_is_available">
              <p class="dialog-description">
                To add an NFC identifier to this wallet, hold it to your device's
                scanner and wait for it to be registered
              </p>

              <form layout-fill ng-submit="$ctrl.addCredential($ctrl.new_tag)">
                <md-input-container class="md-block">
                  <md-icon md-font-icon="material-icons">credit_card</md-icon>
                  <input ng-model="$ctrl.new_tag.id" type="text"
                         placeholder="NFC Identifier" disabled required>
                  <p class="error" ng-if="$ctrl.isKnownCredential($ctrl.new_tag)">
                    Already linked to this wallet
                  </p>
                </md-input-container>

                <md-input-container class="md-block">
                  <md-icon md-font-icon="material-icons">description</md-icon>
                  <input ng-model="$ctrl.new_tag.description" type="text"
                         placeholder="Description">
                </md-input-container>

                <div layout="row" layout-xs="column"
                     layout-align="space-around center">
                  <md-button class="md-primary md-raised"
                             type="submit" ng-disabled="!$ctrl.canAddNewCredential()">
                    Add new identifier
                  </md-button>

                  <md-button class="md-warn md-raised" flex-order-gt-xs="-1"
                             type="reset" ng-click="$ctrl.clearCredential()"
                             ng-disabled="!$ctrl.canClearCredential()">
                    Clear
                  </md-button>

                  <md-button class="md-raised" flex-order-gt-xs="-2"
                             ng-click="$ctrl.toggleAddIdentifier()">
                    Back to Identifiers
                  </md-button>
                </div>
              </form>
            </div>
          </md-content>
        </md-tab>

        <md-tab label="Transactions">
          <div layout="row" layout-xs="column" layout-align="space-around center">
            <md-input-container class="transaction_date">
              <label>From</label>
              <md-datepicker md-open-on-focus
                             ng-change="$ctrl.filterTransactions()"
                             ng-model="$ctrl.transaction_date_from" required>
              </md-datepicker>
            </md-input-container>

            <md-input-container class="transaction_date">
              <label>Until</label>
              <md-datepicker md-open-on-focus
                             ng-change="$ctrl.filterTransactions()"
                             ng-model="$ctrl.transaction_date_until" required>
              </md-datepicker>
            </md-input-container>

            <md-button ng-click="$ctrl.exportTransactions($event)">
              Export to TSV
              <md-icon md-font-icon="material-icons">open_in_new</md-icon>
            </md-button>
          </div>
        </md-tab>
      </md-tabs>

      <md-divider></md-divider>

      <md-list>
        <md-list-item ng-if="!$ctrl.wallet.has_nfc_credentials">
          <md-divider></md-divider>
          <small class="layout-padding nfc_identifier_notice">
            This wallet does not have any NFC identifiers attached to it, it will
            not be available for payments at terminals. NFC identifiers can be
            attached from the settings menu.
          </small>
          <md-divider></md-divider>
        </md-list-item>

        <md-list-item layout-align="center center" layout-margin
                      ng-if="$ctrl.transactions.length === 0">
          No transactions found from
          {{ $ctrl.transaction_date_from | date : "EEEE MMMM d, yyyy" }}
          until
          {{ $ctrl.transaction_date_until | date : "EEEE MMMM d, yyyy" }}
        </md-list-item>

        <md-list-item layout-margin ng-if="$ctrl.transactions.length > 0">
          Showing transactions from
          {{ $ctrl.transaction_date_from | date : "EEEE MMMM d, yyyy" }}
          until
          {{ $ctrl.transaction_date_until | date : "EEEE MMMM d, yyyy" }}
        </md-list-item>

        <md-list-item class="md-2-line transaction"
                      ng-repeat="transaction in $ctrl.transactions">
          <md-icon class="md-avatar">receipt</md-icon>
          <div class="md-list-item-text">
            <h3>
              {{ transaction.createdAt | date : "EEEE MMMM d, yyyy 'at' H:mm" }}
            </h3>
            <p>
              {{ transaction.amount | currency : '&euro;' }} for {{ transaction.description || '&lt;unspecified&gt;' }}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-whiteframe>
</div>
