.wallet {
  margin: 0.5ex 0.25em;

  editable-list-item {
    position: relative;
    top: -1ex;
  }

  md-input-container > .error {
    color: red;
    font-size: 0.8em;
    position: relative;
    top: 1.5ex;
  }

  .identifier-link-copier {
    margin-bottom: -1ex;
    outline: none;
  }

  .main_account_id {
    padding-bottom: 2ex;
  }

  .nfc_identifier_notice {
    text-align: center;
  }

  .settings {
    -webkit-transition: 200ms ease-in all;
    -moz-transition: 200ms ease-in all;
    -o-transition: 200ms ease-in all;
    transition: 200ms ease-in all;

    transform-origin: top;
    position: relative;

    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
      transform: scaleY(0);
    }

    &.ng-enter.ng-enter-active, &.ng-leave {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  .toggle_add_identifier {
    margin-top: -5ex;
    margin-bottom: 2.5ex;
  }

  .transaction_date {
    top: 2.25ex;
    padding-right: 1em;
  }
}
