<md-sidenav class="md-sidenav-{{:: $ctrl.side }}"
            md-component-id="{{:: $ctrl.id }}">

  <div layout="column" layout-fill>
    <md-toolbar class="md-toolbar-tools" ng-if="$ctrl.header">
      <md-button aria-label="Toggle {{:: $ctrl.title }} Menu"
                 class="md-icon-button" ng-click="$ctrl.toggle($event)">
        <md-icon md-font-icon="material-icons">menu</md-icon>
      </md-button>

      <h2>{{:: $ctrl.title }}</h2>
    </md-toolbar>

    <md-list flex>
      <md-list-item analytics-on="click"
                    analytics-category="{{:: action.analytics.category }}"
                    analytics-event="{{:: action.analytics.event }}"
                    aria-label="{{:: action.description }}"
                    ng-click="$ctrl.execute(action, $event)"
                    ng-repeat="action in $ctrl.actions['primary']">
        <md-icon md-font-library="material-icons" alt="{{:: action.description }}">
          {{:: action.icon }}
        </md-icon>
        <p>
          {{:: action.description }}
        </p>
      </md-list-item>
    </md-list>

    <md-list>
      <md-list-item analytics-on="click"
                    analytics-category="{{:: action.analytics.category }}"
                    analytics-event="{{:: action.analytics.event }}"
                    aria-label="{{:: action.description }}"
                    ng-click="$ctrl.execute(action, $event)"
                    ng-repeat="action in $ctrl.actions['secondary']">
        <md-icon md-font-library="material-icons" alt="{{:: action.description }}">
          {{:: action.icon }}
        </md-icon>
        <p>
          {{:: action.description }}
        </p>
      </md-list-item>
    </md-list>
  </div>
</md-sidenav>
