<md-progress-linear md-mode="indeterminate" ng-if="!$ctrl.transaction">
</md-progress-linear>

<md-content layout-padding ng-if="$ctrl.transaction">
  <h2>Create Transaction</h2>

  <div ng-if="!$ctrl.transaction.request.qr.path">
    <p class="dialog-description">
      Use this form to transfer credits between your wallets or to create a
      link or QR code requesting others to transfer credits into your
      wallet(s).
    </p>

    <p ng-if="$ctrl.transaction.request_beneficiary">
      <em>
        When creating a transaction from a transaction request, make sure you
        trust the person you got it from and/or verify the person&rsquo;s
        identity using the beneficiary&rsquo;s ID, enclosed in (). Which is
        available in every wallet&rsquo;s identifier management.
      </em>
    </p>

    <div layout="row" layout-align="space-between center">
      <md-input-container class="md-block" flex>
        <label>From</label>
        <md-select aria-label="Benefactor Wallet"
                   ng-disabled="$ctrl.benefactorWallets().length === 0"
                   ng-model="$ctrl.transaction.benefactor">
          <md-option ng-repeat="wallet in $ctrl.benefactorWallets()"
                     ng-value="wallet">
            {{:: wallet.description }}
          </md-option>
        </md-select>
      </md-input-container>

      <md-button aria-label="Clear Benefactor" class="md-icon-button"
                 ng-click="$ctrl.clearWallet('benefactor')"
                 ng-if="$ctrl.transaction.benefactor">
        <md-icon md-font-icon="material-icons">close</md-icon>
      </md-button>
    </div>

    <div layout="row" layout-align="space-between center">
      <md-input-container class="md-block" flex>
        <label>To</label>
        <md-select aria-label="Beneficiary Wallet"
                   ng-disabled="$ctrl.beneficiaryWallets().length === 0"
                   ng-model="$ctrl.transaction.beneficiary">
          <md-option ng-repeat="wallet in $ctrl.beneficiaryWallets()"
                     ng-value="wallet">
            {{:: wallet.description }}
          </md-option>
        </md-select>
      </md-input-container>

      <md-button aria-label="Clear Beneficiary" class="md-icon-button"
                 ng-click="$ctrl.clearWallet('beneficiary')"
                 ng-if="$ctrl.transaction.beneficiary">
        <md-icon md-font-icon="material-icons">close</md-icon>
      </md-button>
    </div>

    <md-input-container class="md-block">
      <label>Amount</label>
      <input ng-model="$ctrl.transaction.amount" required min="0"
             type="number" value="0">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Description</label>
      <textarea ng-model="$ctrl.transaction.description"
                md-maxlength="150" md-select-on-focus>
      </textarea>
    </md-input-container>
  </div>

  <div layout="column" ng-if="$ctrl.transaction.request.qr.path">
    <p>
      To finalize the transaction, send the following URL to the benefactor of
      the transaction or have them scan the corresponding QR code.

      <a class="wrap" href="{{:: $ctrl.transaction.request.uri }}">
        {{:: $ctrl.transaction.request.uri }}
      </a>
    </p>

    <div layout="row" layout-align="center start">
      <svg flex="25" flex-xs="75"
           ng-attr-view_box="{{ $ctrl.transaction.request.qr.view_box }}">
        <path ng-attr-d="{{ $ctrl.transaction.request.qr.path }}"></path>
      </svg>
    </div>
  </div>

  <div layout="row" layout-xs="column" layout-align="space-around start"
       layout-align-xs="start center">
    <md-button class="md-warn" ng-click="$ctrl.reset()" flex-order-xs="2"
               ng-disabled="!$ctrl.canReset()" type="reset">
      Reset
    </md-button>

    <md-button flex-order-xs="3"
               ng-click="$ctrl.createTransactionRequest()"
               ng-disabled="!$ctrl.canCreateTransactionRequest()"
               ng-if="!$ctrl.transaction.request.qr_path && !$ctrl.transaction.request_beneficiary">
      Create Transaction Request
    </md-button>

    <md-button class="md-primary" flex-order-xs="1"
               ng-click="$ctrl.createTransaction()"
               ng-disabled="!$ctrl.canCreateTransaction()"
               ng-if="!$ctrl.transaction.request.qr_path">
      Create Transaction
    </md-button>
  </div>
</md-content>
