<md-list-item layout="row" layout-align="space-between start" layout-margin>
  <md-input-container flex>
    <label ng-show="!editableListItem.removing">Description</label>
    <label ng-show="editableListItem.removing">Confirm Removal</label>
    <input type="text" ng-disabled="editableListItem.removing"
           placeholder="{{ editableListItem.placeholder }}"
           value="{{ editableListItem.value }}">
  </md-input-container>

  <md-button class="md-icon-button" aria-label="Remove"
             ng-if="editableListItem.removable && !editableListItem.removing"
             ng-click="editableListItem.removing = true">
    <md-icon md-font-icon="material-icons">delete</md-icon>
  </md-button>

  <md-button class="md-icon-button md-warn" aria-label="Remove"
             ng-if="editableListItem.removing"
             ng-click="editableListItem.onRemove(editableListItem)">
    <md-icon md-font-icon="material-icons">delete</md-icon>
  </md-button>

  <md-button class="md-icon-button" aria-label="Cancel Removal"
             ng-if="editableListItem.removing"
             ng-click="editableListItem.removing = false">
    <md-icon md-font-icon="material-icons">clear</md-icon>
  </md-button>
</md-list-item>
