<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Wallet overview application for the Outlayman Payment System">
    <meta name="theme-color" content="#3f51b5">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval';
                   connect-src 'self' https://account.outlayman.com https://api.outlayman.com https://www.google-analytics.com<%= require('configuration').csp.connect %>;
                   img-src 'self' data: https://www.google-analytics.com;
                   script-src 'self' 'nonce-<%= require('configuration').analytics.nonce %>' https://www.google-analytics.com 'unsafe-eval';
                   style-src 'self' https://fonts.googleapis.com 'unsafe-inline'">

    <title>Outlayman Wallet</title>

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Outlayman Wallet">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Outlayman Wallet">
    <link rel="canonical" href="<%= require('configuration').uri.website %>">

    <script src="bundle.js" charset="utf-8"></script>
  </head>

  <body flex layout="column" ng-cloak
        ng-controller="OutlaymanController as outlayman">

    <section flex layout="column">
      <md-toolbar class="md-toolbar-tools">
        <md-button aria-label="Toggle Action Menu" class="md-icon-button"
                   ng-click="outlayman.toggleActionMenu($event)"
                   ng-if="outlayman.signed_in">
          <md-icon md-font-icon="material-icons">menu</md-icon>
        </md-button>

        <h2>Outlayman Wallet</h2>
      </md-toolbar>

      <md-content flex layout="column"
                  md-swipe-left="outlayman.toggleActionMenu($event)"
                  md-swipe-right="outlayman.toggleActionMenu($event)">

        <action-menu side="left" title="Outlayman Wallet">
        </action-menu>

        <header ng-if="outlayman.signed_in && outlayman.announcement">
          <div layout="row" layout-align="center center"
               layout-xs="column" layout-align-xs="center center">
            <h3>{{ outlayman.announcement.title }}</h3>

            <div layout="row" layout-align="start space-around" layout-padding>
              <md-button analytics-on="click" analytics-category="inbox"
                         analytics-event="navigate_from_announcement"
                         class="md-raised" href="#/inbox">
                <md-icon md-font-icon="material-icons">
                  email
                </md-icon>
                Read in inbox
              </md-button>

              <md-button analytics-on="click" analytics-category="inbox"
                         analytics-event="hide:initialize_from_announcement"
                         class="md-raised md-warn"
                         ng-click="outlayman.markAsRead(outlayman.announcement)">
                <md-icon md-font-icon="material-icons" class="md-warn">
                  close
                </md-icon>
                Hide
              </md-button>
            </div>
          </div>

          <md-divider></md-divider>
        </header>

        <div id="error_container" ng-if="outlayman.ErrorService.list().length > 0">
          <div layout="row" ng-repeat="error in outlayman.ErrorService.list()">
            <div layout="row" layout-align="start center">
              <md-checkbox aria-label="Show All Errors" ng-model="outlayman.show_all_errors"
                           ng-if="$index === 0 && outlayman.ErrorService.list().length > 1">
                Show All
              </md-checkbox>
            </div>

            <md-toolbar class="error md-accent" flex layout="row"
                        layout-align="space-between center"
                        ng-if="$index === 0 || outlayman.show_all_errors">
              <div class="md-toolbar-tools">
                <h2 ng-if="error.header.length > 0">{{:: error.header }}</h2>
                {{:: error.message }}
              </div>

              <md-button class="md-icon-button"
                         ng-click="outlayman.ErrorService.remove(error.id)">
                <md-icon md-font-icon="material-icons">close</md-icon>
              </md-button>
            </md-toolbar>
          </div>
        </div>

        <md-content flex layout="column" ng-view></md-content>
      </md-content>
    </section>

    <script nonce="<%= require('configuration').analytics.nonce %>">
      <%= require('configuration').analytics.tracker_code %>
    </script>
  </body>
</html>
