<md-progress-linear md-mode="indeterminate" ng-if="!$ctrl.step">
</md-progress-linear>

<md-content layout-padding ng-switch="$ctrl.step" ng-if="$ctrl.step">
  <h2>Link Identifier to Wallet</h2>

  <div ng-switch-when="add_identifier">
    <form ng-submit="$ctrl.addIdentifier($ctrl.identifier, $ctrl.link_code_data.decrypted)">
      <p class="dialog-description">
        To add an NFC identifier to the
        <em>{{:: $ctrl.link_code_data.decrypted.wallet_description }}</em>
        wallet, hold it to your device's scanner and wait for it to be
        registered.
      </p>

      <md-input-container class="md-block">
        <md-icon md-font-icon="material-icons">credit_card</md-icon>
        <input ng-model="$ctrl.identifier" type="text"
               placeholder="NFC Identifier" disabled required>
      </md-input-container>

      <md-input-container class="md-block">
        <md-icon md-font-icon="material-icons">description</md-icon>
        <input ng-model="$ctrl.link_code_data.decrypted.description"
               type="text" placeholder="Description" disabled>
      </md-input-container>

      <div layout="row" layout-align="space-around center">
        <md-button class="md-warn md-raised" ng-click="$ctrl.transitionFromAddIdentifierToLinkCode()">
          Cancel
        </md-button>

        <md-button class="md-primary md-raised" type="submit"
                   ng-disabled="!$ctrl.identifier || $ctrl.adding_identifier">
          Add identifier
        </md-button>
      </div>
    </form>
  </div>

  <div ng-switch-when="link_code">
    <form name="$ctrl.linkCodeForm"
          ng-submit="$ctrl.transitionFromLinkCodeToAddIdentifier()">

      <p class="dialog-description">
        Specify the ID of an identifier link code and its corresponding
        password to use your device to link an identifier to the associated
        wallet
      </p>

      <md-input-container class="md-block">
        <md-icon md-font-icon="material-icons">redeem</md-icon>
        <input ng-change="$ctrl.getLinkCode()" type="text" name="linkCodeId"
               placeholder="Link Code ID" ng-model="$ctrl.link_code_data.id" required>

        <div ng-messages="$ctrl.linkCodeForm.linkCodeId.$error" role="alert">
          <div ng-message="required">
            An identifier link code is required to link identifiers to wallets
          </div>
          <div ng-message="connection">
            Could not connect to server to retrieve corresponding identifier link code
          </div>
          <div ng-message="not_found">
            Invalid (possibly expired) identifier link code ID
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <md-icon md-font-icon="material-icons">lock</md-icon>
        <input ng-change="$ctrl.getLinkCode()" name="password" type="password"
               ng-model="$ctrl.link_code_data.password" placeholder="Password"
               required>

        <div ng-messages="$ctrl.linkCodeForm.password.$error" role="alert">
          <div ng-message="required">
            A password is required to decrypt the identifier link code
          </div>
          <div ng-message="invalid">
            The password does not match the one used to generate the identifier link code
          </div>
        </div>
      </md-input-container>

      <div layout="row" layout-align="space-around center">
        <md-button class="md-primary md-raised" type="submit"
                   ng-disabled="$ctrl.linkCodeForm.$invalid">
          Next
        </md-button>

        <md-button class="md-accent" ng-click="$ctrl.getLinkCode()"
                   ng-if="$ctrl.linkCodeForm.linkCodeId.$error.connection">
          Retry Link Code Retrieval
        </md-button>
      </div>
    </form>
  </div>

  <div ng-switch-when="failed">
    <p class="dialog-description">
      Unable to add the identifier
      <em>{{:: $ctrl.identifier }}</em> to the
      <em>{{:: $ctrl.link_code_data.decrypted.wallet_description }}</em>
      wallet. Please try again at a later time.
    </p>

    <div layout="row" layout-align="space-around center">
      <md-button class="md-raised"
                 ng-click="$ctrl.transitionFromFailedToAddIdentifier()">
        Back
      </md-button>
    </div>
  </div>

  <div ng-switch-when="success">
    <p class="dialog-description">
      The identifier <em>{{:: $ctrl.identifier }}</em> was
      added to the
      <em>{{:: $ctrl.link_code_data.decrypted.wallet_description }}</em>
      wallet
    </p>

    <div layout="row" layout-align="space-around center">
      <md-button class="md-primary md-raised" href="#/profile">
        Back to Profile
      </md-button>
    </div>
  </div>
</md-content>
