<md-progress-linear md-mode="indeterminate" ng-if="$ctrl.performing_registration">
</md-progress-linear>

<div layout="column" layout-align="center center" layout-fill layout-padding>
  <p>
    Hi there, it looks like you're a new user.
  </p>

  <p class="dialog-description">
    Although you are currently signed into the Outlayman Wallet application,
    some additional steps need to be taken in order to fully register with the
    Outlayman Payment system.
  </p>

  <p class="dialog-description">
    Completing the registration process can be initiated through the button
    below. This procedure will sign you out and back into the application.
  </p>

  <div layout="column" layout-gt-sm="row">
    <md-button class="md-primary md-raised" ng-click="$ctrl.register()"
               ng-disabled="$ctrl.performing_registration">
      Complete registration
    </md-button>

    <md-button class="md-warn" ng-click="$ctrl.cancel()"
               ng-disabled="$ctrl.performing_registration">
      Cancel
    </md-button>
  </div>

  <p class="dialog-description" style="text-align: center">
    <small>
      If you believe this message to show up erroneously, please contact your
      local support.
    </small>
  </p>
</div>
