<md-content layout="column" layout-align="center center" layout-fill>
  <div ng-if="!$ctrl.signing_in" layout="column" layout-align="center center">
    <div class="authorize_notice" flex="95" flex-gt-sm="50" layout-padding
         ng-if="$ctrl.expired">
      <h2>Your authorizations have expired</h3>

      <p>
        For security reasons, the authorizations used by the application to
        access the service on your behalf have expired. Please sign in again to
        reauthorize the application...
      </p>
    </div>

    <div class="authorize_notice" flex="95" flex-gt-sm="50" layout-padding
         ng-if="$ctrl.signedOut">
      <h2>You have been signed out</h2>

      <md-toolbar class="md-warn">
        To prevent other users of this device to sign in again using your
        account, you will also have to sign out of the identity provider you
        used to sign (e.g. Google)
      </md-toolbar>
    </div>

    <md-button class="md-primary md-raised" ng-click="$ctrl.signin()">
      Sign In
    </md-button>
  </div>

  <div class="sign_in_notice" ng-if="$ctrl.signing_in">
    <h2>Signing you in...</h2>

    <p>
      You&rsquo;ll be redirected to the account service to verify your
      credentials.
    </p>

    <p>
      In case you are not redirected to the account service within a couple of
      seconds

      <md-button ng-click="$ctrl.signin()">click here to try again</md-button>
    </p>
  </div>
</md-content>
