<md-progress-linear md-mode="indeterminate" ng-if="!$ctrl.wallets.length">
</md-progress-linear>

<md-content flex layout="row" layout-wrap>
  <div flex-sm="100" flex-md="50" flex-lg="50" flex-gt-lg="33" layout="column"
       layout-wrap ng-repeat="wallet in $ctrl.wallets">
    <md-whiteframe class="md-whiteframe-5dp wallet">
      <md-toolbar class="md-toolbar-tools" layout="row">
        <h3 flex>
          <a href="#/wallet/{{:: wallet.id }}">
            {{:: wallet.description }}
            <md-icon md-font-icon="material-icons">keyboard_arrow_right</md-icon>
          </a>
        </h3>
        {{:: wallet.balance | currency : '&euro;' }}
      </md-toolbar>

      <md-list>
        <md-list-item layout-align="center center"
                      ng-if="wallet.transactions.length === 0">
          No transactions found
        </md-list-item>

        <md-list-item class="md-2-line transaction"
                      ng-repeat="transaction in wallet.transactions.slice(0, 5)">
          <md-icon class="md-avatar">receipt</md-icon>
          <div class="md-list-item-text">
            <h3>
              {{ transaction.createdAt | date : "EEEE MMMM d, yyyy 'at' H:mm" }}
            </h3>
            <p>
              {{ transaction.amount | currency : '&euro;' }} for {{ transaction.description || '&lt;unspecified&gt;' }}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </md-whiteframe>
  </div>
</md-content>
