<md-progress-linear md-mode="indeterminate" ng-if="!$ctrl.messages">
</md-progress-linear>

<md-content layout="column" layout-align="start center" layout-fill
            ng-if="$ctrl.messages">

  <md-list flex layout-fill>
    <md-subheader>Inbox</md-subheader>
    <md-divider></md-divider>

    <md-list-item ng-if="!$ctrl.messages || ($ctrl.messages.length === 0)">
      No unread messages to display
    </md-list-item>

    <md-list-item aria-label="{{:: message.title }}"
                  ng-click="$ctrl.navigateTo(message.url)"
                  ng-repeat-start="message in $ctrl.messages">

      <p ng-if="!message.description">
        {{:: message.title }}
      </p>

      <p ng-if="message.description">
        {{:: message.title }} - {{:: message.description }}
      </p>

      <md-button analytics-on="click" analytics-category="inbox"
                 analytics-event="hide:initialize"
                 aria-label="Mark message as read"
                 class="md-icon-button md-secondary"
                 ng-click="$ctrl.confirmMarkAsRead($event, message)">
        <md-icon md-font-icon="material-icons" class="md-warn">
          close
        </md-icon>
      </md-button>
    </md-list-item>
    <md-divider ng-repeat-end></md-divider>
  </md-list>

  <div layout="row" layout-align="space-around center">
    <md-button analytics-on="click" analytics-category="inbox"
               analytics-event="hide_all:initialize" class="md-raised md-warn"
               ng-click="$ctrl.confirmMarkAllAsRead($event)"
               ng-if="$ctrl.messages.length > 0">
      Mark all as read
    </md-button>
  </div>
</md-content>
